  padding: 1;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

body {
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.6em;
  color:#fff;
  background-color:#ABC;
  overflow-x:hidden;
}

hi,h2,h3,h4,h5,h6 {
  color:#333;
  line-height:1.1em;
}

p {
  color:#333;
  font-size:13px;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
  color:#333;
}
a:hover {
  text-decoration: none;
  color:#eee; 
  }