.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  font-family: "Georgia";
  font-style: italic; 
}

header {
  background-image: url("http://obrazky.firotour.cz/photos/sitt_1067588/large.jpg");
  background-repeat: no-repeat;
  background-position: center 61%;
  padding: 45px 0 0;
  border-bottom: solid;
}

footer {
  border-top: solid;
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: left;
  width: 24%;
  margin-top: 3em;
  background-color: rgba(35,0,0,0.3);
  background-position: top left;
}

nav ul {
  list-style-type: none;
  padding: 1;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

body {
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.6em;
  color:#fff;
  background-color:#ABC;
  overflow-x:hidden;
}

hi,h2,h3,h4,h5,h6 {
  color:#333;
  line-height:1.1em;
}

p {
  color:#333;
  font-size:13px;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
  color:#333;
}
a:hover {
  text-decoration: none;
  color:#eee; 
  }

.homepage {
  background-color: LemonChiffon;
  border-style: solid;
  border-width: medium;
  border-color: Sienna;

}